{% block a2lix_translations_widget %}
    {{ form_errors(form) }}
    {% set currLocale = app.request.locale %}

    <div class="a2lix_translations">
    {% for translationsFields in form %}
        {% set formLocale = translationsFields.vars.name %}
        {% set isActiveLocale = currLocale == formLocale %}
        {% set isDefaultLocale = formLocale == form.vars.default_locale %}

        <details name="{{ form.vars.id }}" {{ isActiveLocale ? 'open' }}>
            <summary>
                {% guard filter locale_name %}
                    {{ translationsFields.vars.label ?? formLocale|locale_name(currLocale)|humanize }}
                {% else %}
                    {{ translationsFields.vars.label ?? formLocale|humanize }}
                {% endguard %}
                {{ isDefaultLocale ? '[Default]'|trans }}
                {{ translationsFields.vars.required ? '*' }}
            </summary>
            <div>
                {{ form_errors(translationsFields) }}
                {{ form_widget(translationsFields) }}
            </div>
        </details>
    {% endfor %}
    </div>
{% endblock %}

{% block a2lix_translationsForms_widget %}
    {{ block('a2lix_translations_widget') }}
{% endblock %}
