<nav class="dropdown locale-switcher">
    {% set localeDetails = this.localesDetails|first %}
    <button
        class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button"
        data-bs-toggle="dropdown" aria-expanded="false"
    >
        {{ localeDetails.flag }}
        {{ (localeDetails.name ?? localeDetails.code)|humanize }}
    </button>


    <ul class="dropdown-menu">
    {% for localeDetails in this.localesDetails[1:] %}
        <li>
            <a
                href="{{ path(app.current_route, app.current_route_parameters|merge({ _locale: localeDetails.code })) }}"
                class="dropdown-item"
            >
                {{ localeDetails.flag }}
                {{ (localeDetails.name ?? localeDetails.code)|humanize }}
            </a>
        </li>
    {% endfor %}
    </ul>
</nav>
